**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.suo
**/TestResults
**/coverage
**/.env
**/.env.*
!**/.env.example
**/postgres/data
**/node_modules
**/.DS_Store
**/NuGet.Config
**/nuget.config
# directories
**/bin/
**/obj/
**/out/

# files
Dockerfile*
**/*.md